<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>功能测试页面</title>
</head>
<body>
	<h2>通过引用thymeleaf返回视图时，只能返回src/main/webapp下的文件。且数据的装载只能通过jsp或者jstl。
　　		通过引用freemarker返回视图时，可以返回根目录下的所有的文件（classpath:/templates/）。且数据的装载支持html和jsp。所以本文章的各项内容都是针对配置freemarker的。
	</h2>
	
	<div style="float:right">add by ${NAME}</div>
	<div><input type="button" onclick="doTestGet()" value="测试get"> </div>
	<div><input type="button" onclick="doTestPost()" value="测试post"> </div>
</body>
<script type="text/javascript" src="/js/testFunction.js"></script>
</html>